@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Grandstander&display=swap);
@import '/assets/fonts/sponge-boy/SpongeboyRegular.css';

html,
body {
	scroll-behavior: smooth;
	position: absolute;
}

body {
	background: url(/assets/background_opt.svg) no-repeat center center fixed;
	background-color: #fff;
	background-size: 100% 100%;
	width: 100vw;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header a{
	display: flex;
	justify-content: center;
}

.title {
	max-width: 80vw;
	max-height: 30vh;
}

main{
	flex:1;
}

main.legal {
	text-align: justify;
}

main.home {
	display: grid;
	grid-template-rows: auto auto 200px;
	align-items: center;
	justify-items: center;
}

h1 {
	font-family: Grandstander, Roboto, sans-serif;
	text-align: center;
}

h2 {
	font-family: Grandstander, Roboto, sans-serif;
}

h3 {
	text-align: center;
}

.grandstander p {
	font-family: Grandstander !important;
}

a.play-btn {
	font-family: Spongeboy;
	color: #fff;
	background-image: url(../assets/raised-btn.svg);
	background-size: 100% 100%;
	padding: 12px 36px;
	border: 0;
	background-color: transparent;
	font-size: 2em;
	transition: transform .1s ease;
	cursor: pointer;
}

a.play-btn:hover {
	color: #fff;
	text-decoration: none;
	transform: scale(1.1);
}

h2.mb-0 > button {
	font-family: Grandstander;
	color: black;
	font-size: 0.6m;
}

h2.mb-0 > button:hover {
	color: black;
}

footer {
	background-image: url(../assets/header_opt.svg);
	background-size: 100% 100%;
	min-height: 84px;
	transform: scale(-1);
}

footer ul {
	transform: scale(-1);
	text-align: center;
	margin: 0;
	padding: 0;
}

footer li{
	display: inline-block;
	font-size: 0.8em;
	padding: 3px 12px;
}

footer li > a {
	color: #e2ecf2;
}
