@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Grandstander&display=swap);

html,
body {
	scroll-behavior: smooth;
	position: absolute;
}

body {
	width: 98vw;
}

.bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url(../assets/background_opt.svg);
  background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

h1 {
	font-family: Grandstander, Roboto, sans-serif;
	text-align: center;
	padding-top: 30vh;
}

h2 {
	font-family: Grandstander, Roboto, sans-serif;
}

section.container > h2 {
	padding-top: 20px;
}

h3 {
	text-align: center;
	padding-top: 30px;
	
}

.grandstander p {
	font-family: Grandstander !important;
}

.banner, .title {
	position: fixed;
}

.banner {
	width: 100vw;
	max-height: 10vh;
}

.title {
	max-width: 80vw;
	max-height: 20vh;
}

section {
	padding: 7vh 0;
}

section.alt {
	background-color: #f3f6fa99;
	
}

a.main {
	font-family: Grandstander;
	color: #fff;
	background-image: url(../assets/raised-btn.svg);
	background-size: 100% 100%;
	padding: 12px 36px;
	border: 0;
	background-color: transparent;
	font-size: 2em;
	transition: transform .1s ease;
	cursor: pointer;
	margin: 0 auto;
	display: table;
	margin-top: 10vh;
}

a.main:hover {
	color: #fff;
	text-decoration: none;
	transform: scale(1.1);
}

h2.mb-0 > button {
	font-family: Grandstander;
	color: black;
	font-size: 0.6m;
}

h2.mb-0 > button:hover {
	color: black;
}

footer {
	background-image: url(../assets/header_opt.svg);
	background-size: cover;
	min-height: 84px;
	transform: scale(-1);
}

footer ul {
	transform: scale(-1);
	text-align: center;
}

footer li{
	display: inline-block;
	font-size: 0.5em;
}

footer li > a {
	color: #e2ecf2;
}

section.legal {
	margin-top: 3vh;
	text-align: justify;
}

section.hero {
	height: 100vh;
}