---
layout: kikamisa
---
<main class="container home">
  <h1 class="center">{{page.title}}</h1>

  <h3 class="center">{{page.subtitle}}<br></h2>

    <a class="play-btn"
       href="https://play.kikamisa.fr">Joueur</a>
</main>
<section class="faq alt">
  <div class="container">
    <h2>F.A.Q.</h2>
    <div class="accordion"
         id="faq-list">
      {% for question in site.data.faq %}
      {% assign slug = question.question | slugify %}
      <div class="card">
        <div class="card-header"
             id="header-{{slug}}">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#{{slug}}"
                    aria-controls="{{slug}}">
              {{question.question}}
            </button>
          </h2>
        </div>

        <div id="{{slug}}"
             class="collapse"
             aria-labelledby="header-{{slug}}"
             data-parent="#faq-list">
          <div class="card-body">
            {{question.reponse}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
